.controlpad {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 72px;
}
.teeny {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

